body {
    background-color: #5f5f68;
    font-family: 'Jetbrains Mono', monospace;
   /* added non stock font family and made the background not as harsh on the eyes */  
}

/* centers the page to keep in aligned center for any screen */
main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

/* for the section at the top of the page that includes name and under quote */
header {
    background-color: 	#23d1dd;
    color: white;
    padding: 30px 20px;
    text-align: center;
}


/* For centering and changing the style of the page jumping links at the top of the page */
nav ul {
    display:flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}


nav a{
    text-decoration: none;
    color: #222;
    font-weight: bold;
}



/* For the text boxes in the middle of the page */
section {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
    border-radius: 8px; /* give each of the boxes a rounded corner*/
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1); /* This give each of the boxes a slight shadowed effect. */

}


footer{
    background-color: #debf63;
    color: black;
    padding: 2px 20px;
    text-align: left;

}